[Unit]
Description=Enable Bluetooth HCI over SMD
After=droid-late-start.target
Before=bluetooth.service
Conflicts=shutdown.target actdead.targe

[Service]
Type=oneshot
ExecStart=/sbin/hcismd-enable.sh
RemainAfterExit=yes

[Install]
WantedBy=bluetooth.service
