[Unit]
Description=Load WLAN Kernel Module
DefaultDependencies=no
Conflicts=shutdown.target
After=droid-hal-init.service persist.mount firmware.mount
Requires=persist.mount firmware.mount
Before=network.target wpa_supplicant.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/droid/load-wlan
ExecStop=/usr/bin/droid/unload-wlan

[Install]
WantedBy=network.target

